apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: nhltop
  name: nhltop
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nhltop
  template:
    metadata:
      labels:
        app: nhltop
    spec:
      containers:
      - name: nhltop
        env:
        - name: DB_HOST
           value: epmdb9918.mariadb.database.azure.com
         image: epmacr9918.azurecr.io/aks01:${{ github.sha }}
        - name: DB_USER
          value: nhltop@epmdb9918
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysecret
              key: DB_PASSWORD
        ports:
        - containerPort: 5000
          protocol: TCP
