on: [push]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    
    - uses: azure/docker-login@v1
      with:
        login-server: epmacr9918.azurecr.io
        username: ${{ secrets.acr_epmacr9918_username }}
        password: ${{ secrets.acr_epmacr9918_password }}
    
    - name: Build and push image to ACR
      id: build-image
      run: |
        docker build "$GITHUB_WORKSPACE/app" -f  "app/Dockerfile" -t epmacr9918.azurecr.io/aks01:${{ github.sha }} --label dockerfile-path=app/Dockerfile
        docker push epmacr9918.azurecr.io/aks01:${{ github.sha }}
    
    - uses: azure/k8s-set-context@v1
      with:
         kubeconfig: ${{ secrets.aks_aks01_kubeConfig }}
      id: login
    
    - name: Create namespace
      run: |
        namespacePresent=`kubectl get namespace | grep nhltop | wc -l`
        if [ $namespacePresent -eq 0 ]
        then
            echo `kubectl create namespace nhltop`
        fi

    - uses: azure/k8s-create-secret@v1
      with:
        namespace: nhltop
        container-registry-url: epmacr9918.azurecr.io
        container-registry-username: ${{ secrets.acr_epmacr9918_username }}
        container-registry-password: ${{ secrets.acr_epmacr9918_password }}
        secret-name: aks01dockerauth
       
    - uses: azure/k8s-deploy@v1.2
      with:
        namespace: nhltop
        manifests: |
          manifests/deployment-2.yml
          manifests/service-2.yml
        images: |
          epmacr9918.azurecr.io/aks01:${{ github.sha }}
        imagepullsecrets: |
          aks01dockerauth
